@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Linden Hill', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

h1 {
    font-family: 'oswald', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}